# Grupo Bimbo Inventory Demand
[Link](https://www.kaggle.com/c/grupo-bimbo-inventory-demand)

## Describing "producto_tabla"

In [37]:
# Load producto_tabla data
from pyspark.sql.types import StringType
from pyspark.sql.functions import col

path = '/home/jasam/Downloads/bimbo/producto_tabla.csv'
product_table_rdd = (sc.textFile(path)
                     .map(lambda line: line.split(",")))

product_table_df = (product_table_rdd
                    .toDF(['product_id','product_name']))
#drop Header
product_table_df = (product_table_df
                    .filter(col('product_id') != 'Producto_ID'))

product_table_df.show(20, False)

+----------+----------------------------------------+
|product_id|product_name                            |
+----------+----------------------------------------+
|0         |NO IDENTIFICADO 0                       |
|9         |Capuccino Moka 750g NES 9               |
|41        |Bimbollos Ext sAjonjoli 6p 480g BIM 41  |
|53        |Burritos Sincro 170g CU LON 53          |
|72        |Div Tira Mini Doradita 4p 45g TR 72     |
|73        |Pan Multigrano Linaza 540g BIM 73       |
|98        |Tostado Integral 180g WON 98            |
|99        |Pan Blanco 567g WON 99                  |
|100       |Super Pan Bco Ajonjoli 680g SP WON 100  |
|106       |Wonder 100pct mediano 475g WON 106      |
|107       |Wonder 100pct gde 680g SP WON 107       |
|108       |Baguette Precocida Cong 280g DH 108     |
|109       |Pan Multicereal 475g WON 109            |
|112       |Tostado Integral 180g WON 112           |
|122       |Biscotel Receta Original 410g CU SUA 122|
|123       |Super Bollos 5in 8p 540g WON 123        |
|125       |Bollos 8p 450g WON 125                  |
|131       |Bollos BK 4in 36p 1635g SL 131          |
|132       |Bollos BK 5in 30p 1730g SL 132          |
|134       |Bollos BK 4in 30p 1635g TIR SL 134      |
+----------+----------------------------------------+
only showing top 20 rows

## Count rows - producto_tabla

In [42]:
format(product_table_df.count(), ',d')

'2,592'

## Describing "cliente_tabla"

In [40]:
# Load producto_tabla data
from pyspark.sql.types import StringType
from pyspark.sql.functions import col

path = '/home/jasam/Downloads/bimbo/cliente_tabla.csv'
customer_table_rdd = (sc.textFile(path)
                      .map(lambda line: line.split(",")))

customer_table_df = (customer_table_rdd
                     .toDF(['customer_id','customer_name']))
#drop Header
customer_table_df = (customer_table_df
                     .filter(col('customer_id') != 'Cliente_ID'))

customer_table_df.show(20, False)

+-----------+---------------------------------------+
|customer_id|customer_name                          |
+-----------+---------------------------------------+
|0          |SIN NOMBRE                             |
|1          |OXXO XINANTECATL                       |
|2          |SIN NOMBRE                             |
|3          |EL MORENO                              |
|4          |SDN SER  DE ALIM  CUERPO SA CIA  DE INT|
|4          |SDN SER DE ALIM CUERPO SA CIA DE INT   |
|5          |LA VAQUITA                             |
|6          |LUPITA                                 |
|7          |I M EL GUERO                           |
|8          |MINI SUPER LOS LUPES                   |
|9          |SUPER KOMPRAS MICRO COLON              |
|10         |LONJA MERCANTIL DE TODO                |
|11         |FARMACIA NICOLAS SAN JUAN              |
|12         |PAPELERIA CATALA                       |
|13         |ELENA                                  |
|14         |CASA TRINO                             |
|15         |FMA035947 BIMBO SA DE CV               |
|16         |JOYS                                   |
|17         |DE MARCO                               |
|18         |LUPES II                               |
+-----------+---------------------------------------+
only showing top 20 rows

## Count rows - cliente_tabla

In [45]:
format(customer_table_df.count(), ',d')

'935,362'

## Describing "town_state"

In [70]:
# Load producto_tabla data
from pyspark.sql.types import StringType
from pyspark.sql.functions import col

path = '/home/jasam/Downloads/bimbo/town_state.csv'

# Clean data
town_state_table_rdd = (sc.textFile(path)
                        .map(lambda line: line.replace('MÉXICO,','MÉXICO')))

town_state_table_rdd = (town_state_table_rdd
                        .map(lambda line: line.split(",")))
town_state_table_df = (town_state_table_rdd
                       .toDF(['agency_id','town','state']))
#drop Header
town_state_table_df = (town_state_table_df
                       .filter(col('agency_id') != 'Agencia_ID'))

town_state_table_df.show(20, False)

+---------+-----------------------+----------------+
|agency_id|town                   |state           |
+---------+-----------------------+----------------+
|1110     |2008 AG. LAGO FILT     |"MÉXICO D.F."   |
|1111     |2002 AG. AZCAPOTZALCO  |"MÉXICO D.F."   |
|1112     |2004 AG. CUAUTITLAN    |ESTADO DE MÉXICO|
|1113     |2008 AG. LAGO FILT     |"MÉXICO D.F."   |
|1114     |2029 AG.IZTAPALAPA 2   |"MÉXICO D.F."   |
|1116     |2011 AG. SAN ANTONIO   |"MÉXICO D.F."   |
|1117     |2001 AG. ATIZAPAN      |ESTADO DE MÉXICO|
|1118     |2007 AG. LA VILLA      |"MÉXICO D.F."   |
|1119     |2013 AG. MEGA NAUCALPAN|ESTADO DE MÉXICO|
|1120     |2018 AG. TEPALCATES 2  |"MÉXICO D.F."   |
|1121     |2016 AG. SAN LORENZO   |"MÉXICO D.F."   |
|1122     |2019 AG. XALOSTOC      |ESTADO DE MÉXICO|
|1123     |2094 CHALCO_BM         |ESTADO DE MÉXICO|
|1124     |2021 AG. XOCHIMILCO 2  |"MÉXICO D.F."   |
|1126     |2017 AG. SANTA CLARA   |ESTADO DE MÉXICO|
|1127     |2003 AG. COACALCO      |ESTADO DE MÉXICO|
|1129     |2011 AG. SAN ANTONIO   |"MÉXICO D.F."   |
|1130     |2010 AG. LOS REYES     |ESTADO DE MÉXICO|
|1137     |2014 AG. NEZA          |ESTADO DE MÉXICO|
|1138     |2015 AG. ROJO GOMEZ    |"MÉXICO D.F."   |
+---------+-----------------------+----------------+
only showing top 20 rows

## Count rows - town_state

In [86]:
format(town_state_table_df.count(), ',d')

'790'

## Group by state - count  - town_state table

In [85]:
(town_state_table_df.groupBy('state')
                    .count()
                    .orderBy(col('count').desc())
                    .show(20))

+--------------------+-----+
|               state|count|
+--------------------+-----+
|    ESTADO DE MÉXICO|   71|
|       "MÉXICO D.F."|   65|
|             JALISCO|   55|
|            VERACRUZ|   45|
|          GUANAJUATO|   39|
|              SONORA|   34|
|          NUEVO LEÓN|   34|
|              PUEBLA|   34|
|           MICHOACÁN|   33|
|          TAMAULIPAS|   32|
|BAJA CALIFORNIA N...|   32|
|            COAHUILA|   29|
|           CHIHUAHUA|   25|
|             SINALOA|   23|
|              OAXACA|   22|
|            GUERRERO|   21|
|             HIDALGO|   21|
| BAJA CALIFORNIA SUR|   17|
|             CHIAPAS|   16|
|     SAN LUIS POTOSÍ|   15|
+--------------------+-----+
only showing top 20 rows

## Describing "train data"

In [2]:
# Load producto_tabla data
from pyspark.sql.types import StringType
from pyspark.sql.functions import col

path = '/home/jasam/Downloads/bimbo/train.csv'
train_table_rdd = (sc.textFile(path)
                   .map(lambda line: line.split(",")))
columns = ['week','agency_id','channel','route_sak','customer_id',
           'product_id','sale_uni_today','sale_today','dev_uni_prox',
           'dev_prox','demand_uni_equil']
train_table_df = (train_table_rdd
                  .toDF(columns))

#drop Header
train_table_df = (train_table_df
                  .filter(col('week') != 'Semana'))

train_table_df.show(20, False)

+----+---------+-------+---------+-----------+----------+--------------+----------+------------+--------+----------------+
|week|agency_id|channel|route_sak|customer_id|product_id|sale_uni_today|sale_today|dev_uni_prox|dev_prox|demand_uni_equil|
+----+---------+-------+---------+-----------+----------+--------------+----------+------------+--------+----------------+
|3   |1110     |7      |3301     |15766      |1212      |3             |25.14     |0           |0.0     |3               |
|3   |1110     |7      |3301     |15766      |1216      |4             |33.52     |0           |0.0     |4               |
|3   |1110     |7      |3301     |15766      |1238      |4             |39.32     |0           |0.0     |4               |
|3   |1110     |7      |3301     |15766      |1240      |4             |33.52     |0           |0.0     |4               |
|3   |1110     |7      |3301     |15766      |1242      |3             |22.92     |0           |0.0     |3               |
|3   |1110     |7      |3301     |15766      |1250      |5             |38.2      |0           |0.0     |5               |
|3   |1110     |7      |3301     |15766      |1309      |3             |20.28     |0           |0.0     |3               |
|3   |1110     |7      |3301     |15766      |3894      |6             |56.1      |0           |0.0     |6               |
|3   |1110     |7      |3301     |15766      |4085      |4             |24.6      |0           |0.0     |4               |
|3   |1110     |7      |3301     |15766      |5310      |6             |31.68     |0           |0.0     |6               |
|3   |1110     |7      |3301     |15766      |30531     |8             |62.24     |0           |0.0     |8               |
|3   |1110     |7      |3301     |15766      |30548     |4             |21.52     |0           |0.0     |4               |
|3   |1110     |7      |3301     |15766      |30571     |12            |75.0      |0           |0.0     |12              |
|3   |1110     |7      |3301     |15766      |31309     |7             |43.75     |0           |0.0     |7               |
|3   |1110     |7      |3301     |15766      |31506     |10            |62.5      |0           |0.0     |10              |
|3   |1110     |7      |3301     |15766      |32393     |5             |15.1      |0           |0.0     |5               |
|3   |1110     |7      |3301     |15766      |32933     |3             |21.12     |0           |0.0     |3               |
|3   |1110     |7      |3301     |15766      |32936     |3             |21.12     |0           |0.0     |3               |
|3   |1110     |7      |3301     |15766      |34053     |8             |36.0      |0           |0.0     |8               |
|3   |1110     |7      |3301     |15766      |35651     |12            |90.0      |0           |0.0     |12              |
+----+---------+-------+---------+-----------+----------+--------------+----------+------------+--------+----------------+
only showing top 20 rows

## Count rows - train_table

In [93]:
format(train_table_df.count(), ',d')

'74,180,464'

## Descriptive Statistics - train_table

In [94]:
train_table_df.describe('sale_uni_today', 'sale_today').show()

+-------+------------------+-----------------+
|summary|    sale_uni_today|       sale_today|
+-------+------------------+-----------------+
|  count|          74180464|         74180464|
|   mean| 7.310163468376256|68.54452258608424|
| stddev|21.967336840002165|338.9795158521776|
|    min|                 0|              0.0|
|    max|               999|           9999.2|
+-------+------------------+-----------------+

## Descriptive Statistics - correlation between unitary sales  and sales

In [4]:
train_table_df = (train_table_df.select(train_table_df.sale_uni_today.cast('float'), 
                                        train_table_df.sale_today.cast('float')))
train_table_df.stat.corr('sale_uni_today', 'sale_today')

0.7336777290062535

## Distribution of sales unitary today

In [2]:
%matplotlib inline
import seaborn as sns

In [ ]:
sns.plt.title('Distribution of sales unitary today')
sns.distplot(train_table_df.select(train_table_df.sale_uni_today)
                           .collect(), hist=False, color="b", kde_kws={"shade": True})